.vs/RoomEscapeVersion2/v15/ipch/AutoPCH/36ca60bc2d37a8d3/POSITIONREPORTER.ipch
.vs/RoomEscapeVersion2/v15/Browse.VC.db
.vs/RoomEscapeVersion2/v15/Browse.VC.opendb
.vs/RoomEscapeVersion2/v15/Solution.VC.db
.vs/RoomEscapeVersion2/v15/Solution.VC.db-shm
.vs/RoomEscapeVersion2/v15/Solution.VC.db-wal
Binaries/Win64/RoomEscapeVersion2Editor.target
Binaries/Win64/UE4Editor.modules
Content/StarterContent
.vs/RoomEscapeVersion2/v15/ipch/AutoPCH/a3310d411f0b64e9/OPENDOORBYSPECIFICACTOR.ipch
